body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.logo {
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 18px;
}

.menu-desktop a,
.menu-mobile a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.menu-desktop a:hover {
    color: grey;
    text-decoration: underline rgb(181, 181, 181);
    text-underline-offset: 1rem;
}
.menu-mobile {
    display: none;
}

/* Section profile */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: fit-content;
    margin-bottom: 5%;
}

#profile img {
    width: 30%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    text-align: center;
    width: 50%;
}

.text-1 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(85, 85, 85);
}

.title {
    font-size: 50px;
    margin-bottom: 5%;
}

.text-2 {
    font-size: 25px;
    color: rgb(85, 85, 85);
}

.btn {
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 25px;
    border: 2px solid rgb(53, 53, 53);
    cursor: pointer;
}

.btn:hover {
    background: rgb(53, 53, 53);
    color: white;
}  

/* Section about */
#about {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 5%;
    background-color: rgb(248, 248, 248); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 36px;
    text-align: center;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin: 5%;
}
/* Section presentation */
#skills {
    width: 80%;
    margin: 0 auto;
    border-radius: 5%;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
    margin-top: 2%;
}

.oc {
    font-family: "Inter",sans-serif;
    color: #7451eb;
}
  
.skill {
    margin-bottom: 2%;
}
.progress-section {
    width: 90%;
    padding: 2%;
}

.progress-bar {
    margin: 2%;
}

.progress-bar p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

.progress-bar span {
    color: #333;
}

.progress {
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 10px;
}

.progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.html::-webkit-progress-value {
    background: #e91e63;
}

.css::-webkit-progress-value {
    background: #2196f3;
}

.javascript::-webkit-progress-value {
    background: #ffc107;
}

.sass::-webkit-progress-value {
    background: #ff5722;
}

.react::-webkit-progress-value {
    background: #61dafb;
}

.node::-webkit-progress-value {
    background: #4caf50;
}

.express::-webkit-progress-value {
    background: #ff9800;
}

.mongoose::-webkit-progress-value {
    background: #ff5722;
}

.mongodb::-webkit-progress-value {
    background: #2196f3;
} 

/* Section mes projets */
#projets {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

#carousel-container {
    width: 100%;
    display: flex;
    background-color: rgb(248, 248, 248); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card {
    width: 90%;
    margin: 5%;
    text-align: center;
    position: relative;
    overflow: hidden; 
}
.card img {
    width: 100%;
    object-fit: cover;
}
/* Style du bouton en savoir plus  */
.en-savoir-plus-btn {
    position: absolute; 
    top: 75%; 
    left: 73%; 
    transform: translate(-20%, -20%); 
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.en-savoir-plus-btn .btn-text {
    display: inline;
}

.en-savoir-plus-btn i {
    margin-right: 5px; 
}

.details {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    flex-direction: column; 
    align-items: flex-start;
}

.details p {
    margin-bottom: 1%;
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.details a {
    color: #3498db; 
    text-decoration: none; 
    font-weight: bold; 
}

.details a:hover {
    text-decoration: underline; 
}

.carousel-btn {
    position: absolute;
    top: 50%;
    border: none;
    color: rgb(85, 85, 85);
    background-color: transparent;
    font-size: 40px;
    cursor: pointer;
}
  
#prev-btn {
    left: 1%; 
}

#next-btn {
    right: 1%; 
}
/* Compteur carousel */
.total {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1%;
    color: rgb(85, 85, 85);
    font-weight: bold;
}

/* section contact */
#contact p {
    text-align: center;
}
/* Styles pour le formulaire */
.form-contact {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-contact label {
    width: 100%;
    margin-bottom: 2%;
    font-size: 14px;
}

.form-contact input,
.form-contact textarea {
    width: 100%;
    padding: 1%;
    margin-bottom: 2%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-contact input[type="submit"] {
    width: auto;
    margin-bottom: 0;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: centers;
}

.form-contact input[type="submit"]:hover {
    background-color: #45a049;
}

.error-message {
    color: #ff5555;
    font-size: 14px;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    bottom: 0;
}

#social ul {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

#social li {
    margin: 0 15px;
}

#social a {
    color: black; 
    font-size: 25px;
}

#social a:hover {
    color: gray;
}

#copyright_txt {
    display: block;
    margin-top: 3%;
}
 /* responsive */
   /*tablette*/
@media screen and (min-width:768px) and (max-width:991px){
    /* Section profile */
    #profile {
        margin-top: 5%;
    }
    .text-1 {
        font-size: 15px;
    }
    .title {
        font-size: 30px;
    }
    .text-2 {
        font-size: 17px;
    }
    .btn {
        padding: 10px 15px;
        font-size: small;
    }
    /* Section mes projets */
    .details {
        max-height: 70%; 
        overflow-y: auto; 
    }
    #prev-btn {
        left: 0; 
    }
    #next-btn {
        right: 0; 
    }
}
  /*mobile*/
@media screen and (max-width:767px){
    .menu-desktop {
        display: none;
    }
    .menu-mobile {
        display: flex;
        position: relative;
    }  
    .menu-mobile ul {
        display: none;
        flex-direction: column;
        position: absolute; 
        top: 100%; 
        right: 0;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        gap: 5px; 
    } 
    .logo {
        font-size: 18px;
    }
    .menu-mobile a {
        padding: 10px;
        display: inline-block;
        align-items: center;
        font-size: 15px;
    }
    nav a:hover {
        color: grey;
    }
    /* Section profile */
    #profile {
        flex-direction: column;
        margin-top: 10%;
    }
    .text-1 {
        font-size: 12px;
    }
    .title {
        font-size: 20px;
    }
    .text-2 {
        font-size: 15px;
    }
    .btn {
        padding: 10px 10px;
        font-size: x-small;
    }
    /* Section about */
    #skills p {
        font-size: small;
    }
    .section-title {
        font-size: 30px;
    }
    #about p {
        font-size: small;
    }
    .progress-bar p {
        font-size: small;
    }
    .progress-bar span {
        font-size: small;
    }
    /* Section mes projets */
    .en-savoir-plus-btn {
        font-size: smaller; 
        top: 75%; 
        left: 75%; 
        transform: translate(-10%, -30%); 
        padding: 5px 10px;
    }
    .en-savoir-plus-btn i {
        margin: 0;
    }
    .en-savoir-plus-btn .btn-text {
        display: none;
    }
    .en-savoir-plus-btn i {
        display: block;
    }
    .details {
        max-height: 70%; 
        overflow-y: auto; 
    }
    .details h3 {
        font-size: smaller;
    }
    .details p {
        font-size: smaller;
    }
    .details a {
        font-size: smaller;
    }
    .carousel-btn {
        font-size: smaller;
    }
    #prev-btn {
        left: 0; 
    }
    #next-btn {
        right: 0; 
    }
    .total {
        font-size: smaller;
    }

    /* section contact */
    #contact p {
        font-size: small;
        width: 60%;
        margin: 1% auto;
    }
    .form-contact input,
    .form-contact textarea {
        font-size: small;
    }
    .form-contact input[type="submit"] {
        font-size: small;
    }
    /* Footer */
    #copyright_txt {
        font-size: smaller;
    }
}