body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* Header */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.logo {
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 18px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: grey;
    text-decoration: underline rgb(181, 181, 181);
    text-underline-offset: 1rem;
}

/* Section profile */
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile img {
    width: 30%;
    border-radius: 50%;
    object-fit: cover;
}

.profile-text {
    text-align: center;
    width: 50%;
}

.text-1 {
    font-weight: 600;
    font-size: 18px;
    color: rgb(85, 85, 85);
}

.title {
    font-size: 50px;
    margin-bottom: 5%;
}

.text-2 {
    font-size: 25px;
    color: rgb(85, 85, 85);
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 15px 30px;
    border-radius: 25px;
    border: 2px solid rgb(53, 53, 53);
    cursor: pointer;
}

.btn:hover {
    background: rgb(53, 53, 53);
    color: white;
}  
/* Fotter */
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
}

#social ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 3%;
}

#social li {
    margin: 0 15px;
}

.fab {
    color: black; 
    font-size: 25px;
}

.fab:hover {
    color: grey; 
    }

#copyright_txt {
    display: block;
    margin-top: 3%;
}
